.ͼ1 .cm-ySelectionInfo {
  position: absolute;
  top: -1.05em;
  left: -1px;
  font-size: 0.75em;
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  user-select: none;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 101;
  transition: opacity 0.3s ease-in-out;
  background-color: inherit;
  opacity: 1;
  transition-delay: 0s;
}

/* 예제 타이틀 */
.samples-title {
  color: rgba(255, 255, 255, 0.7);
  /* text-shadow: 1px 1px 2px #ededed; */
}

.sample-content {
  font-family: 'Cascadia Code', 'EliceDigitalBaeum_Bold';
}

/* 아코디언 제목 */
.MuiAccordionSummary-content {
  /* color: rgba(255, 255, 255, 0.7); */
  /* color: red; */
}
.MuiAccordionSummary-root {
  /* color: rgba(255, 255, 255, 0.7); */
  /* background-color: red; */
}

/* expand 아이콘 */
.css-i4bv87-MuiSvgIcon-root {
  /* color: rgba(255, 255, 255, 0.7); */
}

.css-1e1wnq4-MuiPaper-root-MuiAccordion-root {
  /* border: 1px solid red; */
}
