* {
  box-sizing: border-box;
}

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: fixed;
  bottom: calc(0%);
}

.color {
  transition: all 1s;
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
  height: 100%;
  justify-content: flex-end;
}

.palleteBtn {
  display: flex;
  position: relative;
  color: aliceblue;
  bottom: 0;
  margin-bottom: 7px;
}
