.gauge-bar {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  position: relative;
  margin: 6px 0px 10px 0px;
  padding: 11px;
}

/* 점수를 나타내는 바 */
.bar {
  height: 100%;
  /* background-color: green; */
  position: absolute;
  top: 0;
  left: 0;
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 23px;
}

.shine {
  animation-name: shine-animation;
  animation-duration: 0.9s;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

@keyframes shine-animation {
  from {
    background-color: #ffd9009f; /* Start color of the shining effect */
    box-shadow: 0 0 10px #ec0606; /* Start box-shadow of the shining effect */
    /* width: 0; */
  }
  to {
    background-color: #2ad100; /* End color of the shining effect */
    box-shadow: 0 0 10px #fff; /* Start box-shadow of the shining effect */
    /* box-shadow: none; End box-shadow of the shining effect */
    /* width: 100%; */
  }
}
