.gauge-bar {
  width: 100%;
  height: 20px;
  border: 1px dotted black;
  position: relative;
  margin: 6px 0px 10px 0px;
  padding: 11px;
}

/* 점수를 나타내는 바 */
.bar {
  height: 100%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 23px;
}
